<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SubRenderer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <SubRenderer.Properties.Settings>
            <setting name="font" serializeAs="String">
                <value />
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value />
            </setting>
            <setting name="borderColor" serializeAs="String">
                <value />
            </setting>
            <setting name="borderSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="subQuality" serializeAs="String">
                <value />
            </setting>
            <setting name="lastSave" serializeAs="String">
                <value />
            </setting>
            <setting name="saved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>en</value>
            </setting>
        </SubRenderer.Properties.Settings>
    </userSettings>
</configuration>
